---
import Layout from "@/layouts/Layout.astro"
import Projects from "@/components/Projects.astro"
import BlogPost from "@/components/BlogPost.astro"
import { formatDate, getSortedPosts } from "@/lib/utils"
import { Image } from 'astro:assets'
import JustEatIcon from "@/components/JustEatIcon.astro"
import mask from '../content/images/Pabs.png'

const recentPosts = (await getSortedPosts()).slice(0, 4)
---

<Layout topFill={true} showDotMatrixOnMobile={true}>
  <section class="mt-6 text-muted-foreground">
    <Image src={mask} alt="Pabs Dominguez" width={192} height={192} class="w-24 h-24" />
  </section>

  <section class="mt-6 text-muted-foreground">
    <h1 class="text-2xl font-semibold">I'm a Product Design Lead living in the UK,<br> working on Customer UX at <a href="https://justeattakeaway.com/" class="inline-flex items-baseline gap-1 hover:text-[#FD751B]"><JustEatIcon class="translate-y-[0.1em]" style="margin-right: -5px" /><span class="underline underline-offset-4">Just Eat</span></a>.</h1>
    <br>
    <a href="/about" class="text-sm underline underline-offset-4 text-muted-foreground hover:text-brand">More about me →</a>
    
  </section>

  <!-- <section class="mt-20 sm:mt-24">
    <h3 class="mb-4 font-medium">Now</h3>
    <p class="text-stone-700 dark:text-stone-300">
      Currently working on making prediction markets social with <a
        href="https://bracky.app/home"
        class="underline underline-offset-4">Bracky</a
      >.
    </p>
  </section> -->

  <section class="mt-20 sm:mt-24">
    <h3 class="mb-5 font-medium">Writing</h3>
    <ul class="space-y-2">
      {recentPosts.map((post) => (
        <BlogPost href={`/${post.id}`} title={post.data.title} description={post.data.description} date={formatDate(post.data.date, true)} />
      ))}
    </ul>
    <div class="mt-4 flex justify-end">
      <a href="/writing" class="text-sm underline underline-offset-4 text-muted-foreground hover:text-brand">All posts →</a>
    </div>
  </section>

  <section class="mt-10 sm:mt-14">
    <h3 class="mb-4 font-medium">Projects</h3>
    <Projects />
  </section>
</Layout>
